// Navigation code here
.div1 {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    align-content: center;
  }
  nav {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
  }
}
