// Navigation code here
.div1 {
  @media @mobile {
  }
  .bg-colorWidth();
  margin: 0 auto;
  width: 100%;
  align-items: center;

  display: flex;
  flex-direction: column;

  h1 {
    padding: 15px;
    font-size: 45px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding-bottom: 7px;
    font-size: 1.6rem;
  }
  a {
    .textColor();
  }
}
